{% extends 'index.html' %}
{% load static %}
{% block title %} Contact {% endblock %}

{% block content %}


<main>
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="breadcrumbs mb-4"> <a href="/">Home</a>
						<span class="mx-1">/</span>  <a href="#!">Contact</a>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="pr-0 pr-lg-4">
						<div class="content">Assalamu alaykum, if you want to publish an article on this site, contact us. Publishing an article is absolutely free.
							<div class="mt-5">
								<p class="h3 mb-3 font-weight-normal"><a class="text-dark" href="mailto:formerconverter@gmail.com">formerconverter@gmail.com								</a>
								</p>
								<p class="mb-3"><a class="text-dark" href="tel:&#43;998994377299">&#43;998994377299</a>
								</p>
								<p class="mb-2">Buvayda District, Uzbekistan</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mt-4 mt-lg-0">
					<form method="POST" class="row">
						{% csrf_token %}
						<div class="col-md-6">
							<input type="text" class="form-control mb-4" placeholder="Name" name="name" id="name">
						</div>
						<div class="col-md-6">
							<input type="email" class="form-control mb-4" placeholder="Email" name="email" id="email">
						</div>
						<div class="col-12">
							<textarea name="message" id="message" class="form-control mb-4" placeholder="Type You Message Here" rows="8"></textarea>
						</div>
						<div class="col-12">
							<button class="btn btn-outline-primary" type="submit">Send Message</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</main>

{% endblock %}